<div class="row mb-1 mr-0 custon-border">
    <div class="col-md-1 p-1 text-center border-rigth">
            <img src="assets/product.png" width="85px" height="85px">
    </div>

 <!--Details article !-->
    <div class="col-md-5 border-rigth mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="bi bi-info-circle-fill blue-color"></i></div>
                <div class="col-md-11">{{clientFournisseur.nom}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="bi bi-info-square-fill blue-color"></i></div>
                <div class="col-md-11">{{clientFournisseur.prenom}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="bi bi-telephone-fill blue-color"></i></div>
                <div class="col-md-11">{{clientFournisseur.numTel}}</div>
            </div>
        </div>
    </div>

 <!--Details    !-->
    <div class="col-md-3 border-rigth mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="bi bi-house-door-fill blue-color"></i></div>
                <div class="col-md-11">{{clientFournisseur.adresse?.adresse1}} {{clientFournisseur.adresse?.adresse2}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="bi bi-geo-alt-fill blue-color"></i></div>
                <div class="col-md-11">{{clientFournisseur.adresse?.codePostale}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="bi bi-globe blue-color"></i></div>
                <div class="col-md-11">{{clientFournisseur.adresse?.ville}} </div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="bi bi-globe blue-color"></i></div>
                <div class="col-md-11">{{clientFournisseur.adresse?.pays}} </div>
            </div>
        </div>
    </div>

<!-- Boutons action-->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="bi bi-pencil-fill"></i>Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link text-danger">
                    <i class="bi bi-trash-fill"></i>Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="bi bi-card-checklist"></i>Details
                </button>
            </div>
        </div>
    </div>

</div>