<div class="row mb-1 mr-0 custon-border">
    <div class="col-md-1 p-1 text-center border-rigth">
            <img src="assets/product.png" width="85px" height="85px">
    </div>

 <!--Details client fournisseur !-->
    <div class="col-md-5 border-rigth mb-1 mt-1">
        <div class="col">
            <div class="row m-1">
                <div class="col-md-1"><i class="bi bi-info-circle-fill blue-color"></i></div>
                <div class="col-md-11">{{cltFrs.nom}}</div>
            </div>
            <div class="row m-1">
                <div class="col-md-1"><i class="bi bi-info-square-fill blue-color"></i></div>
                <div class="col-md-11">{{cltFrs.prenom}}</div>
            </div>
            <div class="row m-1">
                <div class="col-md-1"><i class="bi bi-telephone-fill blue-color"></i></div>
                <div class="col-md-11">{{cltFrs.numTel}}</div>
            </div>
        </div>
    </div>

 <!--Details commande !-->
    <div class="col-md-3 border-rigth mb-1 mt-1">
        <div class="col">
            <div class="row m-1">
                <div class="col-md-1"><i class="bi bi-qr-code-scan"></i></div>
                <div class="col-md-10">{{commande.code}}</div>
            </div>
            <div class="row m-1">
                <div class="col-md-1"><i class="bi bi-calendar2-check"></i></div>
                <div class="col-md-10">{{commande.dateCommande}}</div>
            </div>
            <div class="row m-1">
                <div class="col-md-1"><i class="bi bi-cart-fill"></i></div>
                <div class="col-md-10">{{commande.etatCommmande}}</div>
            </div>
        </div>
    </div>

<!-- Boutons action-->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="bi bi-pencil-fill"></i>Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="bi bi-trash-fill"></i>Supprimer
                </button>
            </div>
        </div>
    </div>

</div>