<div class="row mb-1 mr-0 custon-border">

 <!--Details article !-->
    <div class="col-md-3 border-rigth mb-1 mt-1">
            <div class="row text-center">
                <div class="col-md-12">21/04/2022</div>
            </div>
    </div>

 <!--Details categorie !-->
    <div class="col-md-3 border-rigth mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h5>139</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 border-rigth mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Sortie</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Boutons action-->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row ">
                COMMMANDE_CLIENT
        </div>
    </div>

</div>