<div class="row mb-1 mr-0 custon-border">

    <!--Details article !-->
       <div class="col-md-3 border-rigth mb-1 mt-1">
               <div class="row text-center">
                   <div class="col-md-12">{{ligneCommande.article?.codeArticle}}</div>
               </div>
       </div>
   
    <!--Details categorie !-->
       <div class="col-md-3 border-rigth mb-1 mt-1">
           <div class="row">
               <div class="col-md-12 text-center">
                   <div class="row">
                       <div class="col-md-12">
                        {{ligneCommande.article?.designation}}                       </div>
                   </div>
               </div>
           </div>
       </div>
   
       <div class="col-md-2 border-rigth mb-1 mt-1">
           <div class="row">
               <div class="col-md-12 text-center">
                   <div class="row">
                       <div class="col-md-12">
                        {{ligneCommande.quantite}}
                       </div>
                   </div>
               </div>
           </div>
       </div>

       <div class="col-md-2 border-rigth mb-1 mt-1">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-12">
                            {{ligneCommande.prixUnitaire}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
       <div class="col-md-2 mb-1 mt-1">
           <div class="row ">
            {{ligneCommande.prixUnitaire && ligneCommande.quantite ? ligneCommande.prixUnitaire * ligneCommande.quantite :''}}
           </div>
       </div>
   
</div>